


html,body{
min-width:900px;
	font-size: 18px;
	font-family:  'Banks Miles Single Line';
 background-attachment:fixed;
background-repeat: no-repeat;
 background-color: #D7CEC7;

}

/* Head section */
.container{
	*position:fixed; 
	background-color:#C09F80;
padding:0.417em;
	margin: auto;
background-size: cover;
width:auto;
height: 6em;
}


.container .user-menu{
	list-style: none;
position:relative ;
left: 12.5em;
padding-bottom: 1em ;
padding-top:  1em ;
width:60em;

}

.container li{
	display: inline-block;
float: left;
	border-right: 0.3em solid #eee;
	padding: 0.3em 1.5em;
   margin-left:1.5em 
  

}


.container .user-menu a{
	text-indent: 0.7em;
text-decoration:none;
color: black;
font-weight: bold;
position:relative;


}


.user-menu a:hover {
text-decoration: underline;
}


/****************/

/* Footer section */

.footer {
	margin-top: 2.5em

}

.footer a{
	margin:1.667em 
}


/****************/

/* Body section */

.images{
margin: 3em auto 3em auto;
padding: 2em 0px;
text-align: center;
width:90%;
background-color: white;
position:relative;
display: block;

}

p {
color: black;
font-weight: bold;
text-indent: 0.833em;
text-align: center;
font-size: 2.8em;
margin-top: 1em; 
padding:0.417em;
color: 76323f;

}


h3 {
color: 76323f;
z-index:100;
text-align: left;

}

h1{
	text-align: center;
	color: black;
}

.i{
	
	color: 76323f;
	text-align: center;
}


h2{

text-align: left;
padding-left : 40px; 
color: black;

}


.con li, .con ul  {
	margin-left: 2em;
	display: inline-block;
	border-left: 0.3em solid #C09F80;
	padding : 0.3em; 

}






.c{
	border-left: 0.3em solid #C09F80;
	padding : 1.25em; 
		margin-left:2.5em;
	margin-right:2.5em;
	display: inline-block;
}



.button {
	background-color: #C09F80;
	font-size: 1em;

}

/****************/



